.Quicksand {
  font-family: 'Quicksand', sans-serif;
}

.centerText{
  text-align: center;
}

.centerImage{
  display: block;
  margin: auto;
  width: 500px;
  height: 500px;
}

.icons{
  border-radius: 50%;
  border: 6px solid black;
  display: block;
  margin: auto;
  width: 200px;
  height: 200px;
}

p{
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
}

h1{
  text-align: center;
  font-size: 60px;
  font-family: 'Quicksand', sans-serif;
}

.description {
  font-family: 'Quicksand', sans-serif;
}

button {
  text-align: center;
  align: center;
  font-family: 'Quicksand', sans-serif;
  background-color: #ADD8E6;
  border: none;
  font-size: 30px;
  padding: 17px 50px;
  display: block;
  margin: auto;
  margin-top: 45px;
  transition-duration: 0.4s;
  cursor: pointer;
}

button:hover {
  background-color: #F0F8FF;
}
